.description {

color: grey;
font-size: 30px;

border-left: 4px solid black;

// border-style: solid;
border-width: 10px;
border-left-style: solid;

padding: 25px; 

width: 500px; 

}

.chart {

    width: 1000px;
    height: 1000px;
background-color: pink;


}

.circ1 {

  stroke: green;
  fill: white;
  stroke-width: 5;
}

.circ2 {

  stroke: red;
  fill: blue;
  stroke-width: 5;
}

.sun {

  stroke: yellow;
  fill: yellow;
  stroke-width: 5;
}

.jupiter {

  stroke: blue;
  fill:  white;
  stroke-width: 5;
}

.saturn {

  stroke: orange;
  fill: white;
  stroke-width: 5;
}

.uranus {

  stroke: green;
  fill: white;
  stroke-width: 5;
}

.neptune {

  stroke: blue;
  fill: white;
  stroke-width: 5;
}


.earth {

  stroke: blue;
  fill: white;
  stroke-width: 5;
}

.moon {

  stroke: grey;
  fill: grey;
  stroke-width: 5;
}
<circle class="circ2" cx="200" cy="100" r="10"></circle>
